npm-debug.log
node_modules
.sass-cache
app/.tmp
app/index.html
app/scripts/custom/controllers/index.js
app/scripts/custom/services/index.js
app/scripts/custom/directives/index.js
app/scripts/custom/modules/*
app/views/base/page.html
dist
config/*.json
test/unit/custom
test/results.xml
