/**
 * Development Environment specific settings for grunt-ng-constant.
 */
{
  // Development Constants to be defined for the Angular application.
  constants : {
    dev: {
      ENV: {
        name: 'develop',
      },
      DRUPAL_API: {
        url : 'http://dev.technocrat.com.au'
      }

    }
  }
}
