{
  "ngConstant": {
    "options": {
      "dest": "app/scripts/config.js"
    },
    "constants" : {
      "prod": {
        "ENV": {
          "name": "production"
        },
        "DRUPAL_URL": {
          "url" : "http://local.technocrat.com.au"
        }
      }
    }
  }
}
